{% for item in modprobe_general + modprobe_extra %}{% if item.state is undefined or (item.state == 'present') %}
{{ item.name if item.name is defined else item }}{{ ' ' + item.params if item.params is defined else '' }}
{% endif %}{% endfor %}
